$londrina: 'Londrina Solid', cursive;
$patrick: 'Patrick Hand SC', cursive;
$fa-font-path: '../stylesheets/font-awesome-4.7.0';

@import 'css-reset';
@import 'index';
@import 'animations';
@import 'skill';
@import 'title';
@import 'harry';
@import 'hourglass';
@import 'door';
@import 'knight';
@import 'exp-banner';
@import 'project';
@import 'fluffy';
@import 'quirrell';
@import 'mirror';
@import 'spell';
@import 'spacebar';
@import 'footer';
