/* Fluffy */

.fluffy-container {
  height: 1000px;
  width: 1500px;
  left: 9500px;
  bottom: 20.2%;
  z-index: 998;
  position: absolute;
}

.fluffy {
  background-image: url('../images/fluffy-main.png');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 998;
  position: absolute;
}

.fluffy-body {
  background-image: url('../images/fluffy-body.png');
  z-index: 997;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}
