html, body {
  height: 100%;
  width: 100%;
  position: relative;
}

.content {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.background-image {
  height: auto;
  width: auto;
  position: relative;
}
.background-image div {
  position: absolute;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.harry {
  position: absolute;
  height: 200px;
  width: 100px;
  background-color: blue;
  filter: opacity(.5);
  border: 1px solid black;
  margin: 50% 50%;
  z-index: 999;
}

.title-page {
  border: 1px solid black;
  height: 720px;
  width: 1000px;
  top: 0;
  left: 0;
}

.start {
  border: 1px solid black;
  height: 720px;
  width: 1000px;
  top: 720px;
  left: 0;
}

.first {
  border: 1px solid black;
  height: 720px;
  width: 1000px;
  top: 720px;
  left: 1000px;
}
