html, body {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.harry-container {
  height: 242px;
  width: 175px;
  position: fixed;
  top: auto;
  bottom: 17.9%;
  left: 50%;
  right: 50%;
  z-index: 999;
}

.harry {
  background-image: url('../images/harry-sprites.png');
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
}

.face-right {
  background-position: -595px -386px;
}

.walk-face-right-1 {
  background-position: -415px -386px;
}

.walk-face-right-2 {
  background-position: -775px -386px;
}

.content-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.content {
  top: 0;
  left: 0;
  height: 400%;
  width: 1100%;
  position: relative;
}

.content > div {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  /*background-position: center;*/
}

/*.one {
  background-image: url('../images/1.png');
  top: 0%;
  left: 0%;
}

.two {
  background-image: url('../images/2.png');
  top: 100%;
  left: 0%;
}

.three {
  background-image: url('../images/3.png');
  top: 100%;
  left: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.four {
  background-image: url('../images/4.png');
  top: 100%;
  left: 200%;
}

.five {
  background-image: url('../images/5.png');
  top: 200%;
  left: 200%;
}*/

.background {
  background-image: url('../images/full-background.png');
  top: 0%;
  left: 0%;
}

/*.frame-2 {
  background-image: url('../images/frame-2.png');
  top: 100%;
  left: 0%;
}

.frame-3 {
  background-image: url('../images/frame-3.png');
  top: 200%;
  left: 0%;
}*/
