html, body, h1, h2, h3, h4, h5, h6, p, li, ul, div, span {
  margin: 0;
  padding: 0;
  border: none; }

html, body {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Londrina Solid", cursive; }

ul, li, p {
  font-family: "Patrick Hand SC", cursive; }

/* Floor */
.floor-container {
  height: 100%;
  width: 11000px;
  top: 71.75%;
  left: 0;
  z-index: 998; }

.basement-container {
  height: 100%;
  width: 100%;
  top: 96.75%;
  left: 50%;
  z-index: 998; }

.floor {
  background-image: url("../images/castle-bricks-brown.png");
  background-size: 150px 150px;
  height: 100%;
  width: 100%; }

/* Background */
.content-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

.content {
  top: 0;
  left: 0;
  height: 400%;
  width: 16000px;
  position: relative; }

.content > div {
  position: absolute; }

.background {
  background-image: url("../images/castle-dark-bricks-brown.png");
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  background-size: 150px 150px; }

/* ANIMATIONS */
@keyframes breathe {
  0%, 100% {
    top: 0%; }
  50% {
    top: 2%; } }
.breathe {
  animation: breathe 4s infinite; }

@keyframes bounce-master {
  0%, 60% {
    top: 100%; }
  75% {
    top: 5%; }
  90% {
    top: 25%; }
  95% {
    top: 10%; }
  97% {
    top: 20%; }
  100% {
    top: 15%; } }
.bounce-master {
  animation: bounce-master 1s;
  animation-fill-mode: forwards; }

@keyframes bounce-expert {
  0%, 60% {
    top: 100%; }
  75% {
    top: 20%; }
  90% {
    top: 40%; }
  95% {
    top: 25%; }
  97% {
    top: 35%; }
  100% {
    top: 30%; } }
.bounce-expert {
  animation: bounce-expert 1s;
  animation-fill-mode: forwards; }

@keyframes drop-down {
  0% {
    bottom: 100%; }
  100% {
    bottom: 33%; } }
.drop-down {
  animation-name: drop-down;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

@keyframes float {
  0%, 100% {
    bottom: 38%; }
  50% {
    bottom: 37.5%; } }
.float {
  animation: float 4s infinite; }

@keyframes always-float {
  0%, 100% {
    top: -20.5%; }
  50% {
    top: -22.5%; } }
.always-float {
  animation: always-float 4s infinite; }

@keyframes flash {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.flash {
  animation: flash 3s infinite; }

@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.fadeout {
  animation: fadeout 2s;
  animation-fill-mode: forwards; }

@keyframes skills-float-1 {
  0%, 100% {
    top: -20%; }
  50% {
    top: -18%; } }
.skills-float-1 {
  animation: skills-float-1 3s infinite; }

@keyframes spell-fire {
  0% {
    left: -100px; }
  100% {
    left: 400px; } }
.spell-fire {
  animation: spell-fire 4s; }

/* Skills Banner and Container */
.skills-container {
  left: 7700px; }

.skills-banner {
  background-image: url("../images/skills-banner.png");
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  position: relative; }

.outer-skills-container {
  height: 600px;
  width: 1000px;
  z-index: 998; }

.skills-set-container {
  height: 600px;
  width: 1000px;
  z-index: 998;
  position: relative;
  overflow: hidden; }

.skills-set-1 {
  left: 8400px;
  bottom: 28.25%; }

.skills-set-2 {
  left: 12000px;
  bottom: 3.25%; }

.skills-banner-container {
  height: 300px;
  width: 500px;
  left: 250px;
  position: absolute;
  z-index: 999; }

.skills-set-banner {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: relativ; }

.skill-set-1-banner {
  background-image: url("../images/scripting-language-banner.png"); }

.skills-set-2-banner {
  background-image: url("../images/frameworks-banner.png"); }

.skill-name-cont {
  height: 200px;
  width: 300px;
  top: -5%;
  position: absolute;
  z-index: 998; }

.skill-banner {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative; }

.skill-name-1, .skill-name-5 {
  left: 12%; }

.skill-name-2, .skill-name-6 {
  left: 32%; }

.skill-name-3, .skill-name-7 {
  left: 52%; }

.skill-name-4, .skill-name-8 {
  left: 72%; }

.skill-1-banner {
  background-image: url("../images/ruby-banner.png"); }

.skill-2-banner {
  background-image: url("../images/sql-banner.png"); }

.skill-3-banner {
  background-image: url("../images/javascript-banner.png"); }

.skill-4-banner {
  background-image: url("../images/html-css-banner.png"); }

.skill-5-banner {
  background-image: url("../images/rails-banner.png"); }

.skill-6-banner {
  background-image: url("../images/jquery-banner.png"); }

.skill-7-banner {
  background-image: url("../images/react-banner.png"); }

.skill-8-banner {
  background-image: url("../images/redux-banner.png"); }

.line {
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute; }

.master-line {
  bottom: 80%; }

.expert-line {
  bottom: 65%; }

.proficient-line {
  bottom: 50%; }

.familiar-line {
  bottom: 35%; }

.beginner-line {
  bottom: 20%; }

.text {
  font-family: 'Londrina Solid', cursive;
  font-size: 30px;
  color: white;
  position: absolute; }

.master-text {
  bottom: 80%; }

.expert-text {
  bottom: 65%; }

.proficient-text {
  bottom: 50%; }

.familiar-text {
  bottom: 35%; }

.beginner-text {
  bottom: 20%; }

.skills-hoop-container {
  width: 250px;
  height: 600px;
  top: 100%;
  position: absolute; }

.skills-hoop {
  background-image: url("../images/hoops.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain; }

.snare-container {
  width: 150px;
  height: 650px;
  top: 7%;
  position: absolute; }

.snare {
  background-image: url("../images/snare.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover; }

.snare-1 {
  background-position: -55px 0px; }

.snare-2 {
  background-position: -180px 0px; }

.snare-3 {
  background-position: -305px 0px; }

.snare-4 {
  background-position: -435px 0px; }

.skill-1 {
  left: 15%; }

.skill-2 {
  left: 35%; }

.skill-3 {
  left: 55%; }

.skill-4 {
  left: 75%; }

.skill-5 {
  left: 18%; }

.skill-6 {
  left: 38%; }

.skill-7 {
  left: 60%; }

.skill-8 {
  left: 80%; }

/* Title */
.title-container {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  height: 100%;
  z-index: 998; }

.title {
  background-image: url("../images/title-page.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain; }

/* Down Arrow Key */
.down-arrow-cont {
  position: absolute;
  top: 3%;
  height: 50px;
  width: 400px;
  z-index: 999; }

.down-arrow {
  background-image: url("../images/down-arrow-no-outline.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat; }

.harry-container {
  height: 242px;
  width: 190px;
  position: fixed;
  top: auto;
  bottom: 28.25%;
  left: 300px;
  z-index: 999; }

.harry {
  background-image: url("../images/harry-sprites.png");
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat; }

.face-right {
  background-position: -580px -386px; }

.face-left {
  background-position: -570px -127px; }

.walk-face-right-1 {
  background-position: -400px -386px; }

.walk-face-right-2 {
  background-position: -775px -386px; }

.walk-face-left-1 {
  background-position: -380px -127px; }

.walk-face-left-2 {
  background-position: -775px -127px; }

.fall-right {
  background-position: -188px -390px; }

.fall-left {
  background-position: -188px -127px; }

.spell-right {
  background-position: -1047px -386px; }

.spell-left {
  background-position: -976px -127px; }

.hourglass-container {
  bottom: 28.25%;
  left: 100px;
  height: 300px;
  width: 1500px;
  display: flex;
  justify-content: space-between; }

.hourglass-container > div {
  height: 100%;
  width: 500px;
  display: flex;
  justify-content: space-around; }

.house-hourglass-cont {
  height: 300px;
  width: 200px;
  z-index: 998;
  position: relative; }

.house-hourglass {
  background-image: url("../images/housepoints.png");
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  position: relative; }

.gryffindor {
  background-position: -95px -40px; }

.hufflepuff {
  background-position: -403px -40px; }

.ravenclaw {
  background-position: -697px -40px; }

.slytherin {
  background-position: -1004px -40px; }

.door-container {
  height: 800px;
  width: 500px;
  z-index: 998;
  position: relative;
  bottom: 28.25%;
  left: 600px;
  display: flex;
  justify-content: center; }

.door {
  background-image: url("../images/door.png");
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  position: relative;
  background-position: -128px -76px; }

/* Knight Entity */
.knight-container {
  height: 500px;
  width: 200px;
  z-index: 998;
  position: relative;
  bottom: 28.25%;
  left: 1900px; }

.knight {
  background-image: url("../images/knight.png");
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  position: relative;
  background-position: -145px -117px; }

/* Work Experience Banners */
.banner-container {
  height: 300px;
  width: 500px;
  z-index: 998;
  position: relative; }

.exp-container {
  left: 2150px; }

.exp-banner {
  background-image: url("../images/experience-banner.png");
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  position: relative; }

.g-banner-container {
  height: 500px;
  width: 350px;
  z-index: 998;
  position: relative;
  bottom: 100%;
  left: 2700px; }

.h-banner-container {
  height: 500px;
  width: 350px;
  z-index: 998;
  position: relative;
  bottom: 100%;
  left: 3100px; }

.r-banner-container {
  height: 500px;
  width: 350px;
  z-index: 998;
  position: relative;
  bottom: 100%;
  left: 3500px; }

.s-banner-container {
  height: 500px;
  width: 350px;
  z-index: 998;
  position: relative;
  bottom: 100%;
  left: 3900px; }

.banner {
  background-image: url("../images/banners.png");
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  position: relative; }

.gryffindor-banner {
  background-position: -55px 0px; }

.hufflepuff-banner {
  background-position: -432px 0px; }

.ravenclaw-banner {
  background-position: -812px 0px; }

.slytherin-banner {
  background-position: -1181px 0px; }

.work-exp {
  margin: 100px 50px; }

.work-exp ul {
  font-size: 20px; }

.one-1 {
  color: orange; }

.one-2 {
  color: black; }

.two-1 {
  color: #C9AE87; }

.two-2 {
  color: #D3D3D3; }

/* Project Banner and Frames */
.project-container {
  left: 4300px; }

.project-banner {
  background-image: url("../images/projects-banner.png");
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  position: relative; }

.project-frame-1-cont {
  width: 290px;
  height: 400px;
  bottom: 32%;
  left: 4900px;
  z-index: 998;
  position: relative; }

.project-frame-1 {
  background-image: url("../images/frame-1.png");
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute; }

.portrait-1-cont {
  height: 332px;
  width: 208px;
  bottom: 83.5%;
  left: 38px;
  z-index: 999;
  position: relative; }

.portrait-1 {
  background-image: url("../images/portrait-1.png");
  min-height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; }

.project-frame-2-cont {
  width: 600px;
  height: 450px;
  bottom: 32.5%;
  left: 5400px;
  z-index: 998;
  position: relative; }

.project-frame-2 {
  background-image: url("../images/frame-2.png");
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute; }

.portrait-2-cont {
  height: 130px;
  width: 390px;
  top: 20.5%;
  left: 101px;
  z-index: 999;
  position: relative; }

.portrait-2 {
  background-image: url("../images/portrait-2.png");
  min-height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; }

.project-frame-3-cont {
  width: 600px;
  height: 450px;
  bottom: 25%;
  left: 5200px;
  z-index: 998;
  position: relative; }

.project-frame-3 {
  background-image: url("../images/frame-2.png");
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute; }

.portrait-3-cont {
  height: 130px;
  width: 390px;
  top: 20.45%;
  left: 101px;
  z-index: 999;
  position: relative; }

.portrait-3 {
  background-image: url("../images/portrait-3.png");
  min-height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; }

.project-frame-4-cont {
  width: 290px;
  height: 400px;
  bottom: 32%;
  left: 6000px;
  z-index: 998;
  position: relative; }

.project-frame-4 {
  background-image: url("../images/frame-1.png");
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute; }

.portrait-4-cont {
  height: 332px;
  width: 208px;
  top: 8.5%;
  left: 38px;
  z-index: 999;
  position: relative; }

.portrait-4 {
  background-image: url("../images/portrait-4.png");
  min-height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; }

.project-frame-5-cont {
  width: 600px;
  height: 450px;
  bottom: 35%;
  left: 6300px;
  z-index: 998;
  position: relative; }

.project-frame-5 {
  background-image: url("../images/frame-2.png");
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute; }

.portrait-5-cont {
  height: 130px;
  width: 390px;
  top: 20.5%;
  left: 101px;
  z-index: 999;
  position: relative; }

.portrait-5 {
  background-image: url("../images/portrait-5.png");
  min-height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; }

.project-frame-6-cont {
  width: 600px;
  height: 450px;
  bottom: 29%;
  left: 6450px;
  z-index: 998;
  position: relative; }

.project-frame-6 {
  background-image: url("../images/frame-2.png");
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute; }

.portrait-6-cont {
  height: 130px;
  width: 390px;
  top: 20.5%;
  left: 101px;
  z-index: 999;
  position: relative; }

.portrait-6 {
  background-image: url("../images/portrait-6.png");
  min-height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; }

.project-frame-7-cont {
  width: 600px;
  height: 450px;
  bottom: 23%;
  left: 6600px;
  z-index: 998;
  position: relative; }

.project-frame-7 {
  background-image: url("../images/frame-2.png");
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute; }

.portrait-7-cont {
  height: 131px;
  width: 390px;
  top: 20.25%;
  left: 101px;
  z-index: 999;
  position: relative; }

.portrait-7 {
  background-image: url("../images/portrait-7.png");
  min-height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; }

.project-frame-8-cont {
  width: 290px;
  height: 400px;
  bottom: 32%;
  left: 7200px;
  z-index: 998;
  position: relative; }

.project-frame-8 {
  background-image: url("../images/frame-1.png");
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute; }

.portrait-8-cont {
  height: 332px;
  width: 208px;
  top: 8.5%;
  left: 38px;
  z-index: 999;
  position: relative; }

.portrait-8 {
  background-image: url("../images/portrait-8.png");
  min-height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; }

.always-ribbon-cont {
  height: 300px;
  width: 436px;
  top: -21.5%;
  left: -82px;
  z-index: 1000;
  position: absolute; }

.always-ribbon {
  background-image: url("../images/always-ribbon.png");
  opacity: 1;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; }

.project-content {
  padding: 45px 50px; }

.project-content h4 {
  font-size: 30px; }

.project-content p {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 20px; }

/* Fluffy */
.fluffy-container {
  height: 1000px;
  width: 1500px;
  left: 9500px;
  bottom: 28.25%;
  z-index: 998;
  position: relative; }
  .fluffy-container div {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute; }

.fluffy {
  background-image: url("../images/fluffy-main.png");
  background-position-y: 294px;
  z-index: 998; }

.fluffy-body {
  background-image: url("../images/fluffy-body.png");
  background-position-y: 294px;
  z-index: 997; }

.quirrell-container {
  height: 242px;
  width: 200px;
  position: fixed;
  top: auto;
  bottom: 3.25%;
  left: 13700px;
  z-index: 998; }

.quirrell {
  background-image: url("../images/quirrell.png");
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat; }

.quirrell-left {
  background-position: -50px -22px; }

.dust {
  background-position: -254px -22px; }

.mirror-container {
  height: 500px;
  width: 300px;
  position: fixed;
  top: auto;
  bottom: 3.25%;
  left: 13500px;
  z-index: 998; }

.mirror {
  background-image: url("../images/mirror.png");
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: -100px -36px;
  background-size: 500px; }

.spell-container {
  height: 200px;
  width: 400px;
  top: auto;
  bottom: 3.25%;
  left: 13426px;
  z-index: 999; }

.spell {
  background-color: red;
  top: 38.5%;
  left: -80px;
  height: 2px;
  width: 20%;
  overflow: hidden;
  position: absolute; }

/*# sourceMappingURL=main.css.map */
